:root {
  --spacing: 5px;
  --color1: #673ab7;
  --color1__darken: #573199;
  --color1__lighten: #b88fff;
  --color2: #ede7f6;
}

.app_main {
  padding: 2rem;
  color: var(--color1__darken);
  font-size: 1.5rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
    .app_main {
      padding: 0.5rem;
      font-size: 1.2rem;
      line-height: 1;
    }
}